.container_12,
.container_16 { margin-left: 0; margin-right: 0; width: 100%; }



/** WP Alchemy Form style overwrite */
#poststuff .my_meta_control h2       { margin:0; font-weight:bold; color:#8DC63F; }
#poststuff .my_meta_control h3       { margin:0; font-family: sans-serif; color:#999; border:1px solid #ddd; margin-bottom: 5px;}

.my_meta_control legend   { font-size: 16px; font-weight: bold; padding:10px 10px 0; }
.my_meta_control fieldset { border:1px solid #ddd; padding:10px 5px; }
.my_meta_control label    { margin:4px 6px 0; color:#777; }
.my_meta_control small    { margin-left: 5px; color:#aaa; }
.my_meta_control hr       { border-style: solid; border-width: 1px 0 0 0 ; border-color:#ddd; }
.my_meta_control .btn  { line-height:24px; padding:5px 10px 5px 24px; }

/** WP Alchemy Element styles and goodies */
.input_group              { padding:5px 0 10px; }
img.responsive            { max-width:100%; padding: 10px 0; }
.fade                     { color:#aaa; }

/** Validation */
.my_meta_control input.error,
.my_meta_control input.error:focus  { border-color:#ff0000; }
.my_meta_control label.error        { color:#ff0000; font-weight: normal; font-size: 10px; }
.my_meta_control .no-label-msg label.error  { display:none!important; }


/** Buttons */
a.btn                   {  }
a.btn-icon              { display:block; padding-left:24px; height:24px; }

a.btn-icon-delete       { padding-left:24px; background:url(../../piggyback-core/media/cpt-icons/cross-circle.png) 4px -20px no-repeat; }
a.btn-icon-delete:hover { background-position:4px 4px; }

a.btn-icon-add          { padding-left:24px; background:url(../../piggyback-core/media/cpt-icons/plus-circle.png) 4px -20px no-repeat; }
a.btn-icon-add:hover    { background-position:4px 4px; }